.introScreen {
  width: 100vw;
  height: 100vh;
  background-image: url('../../../public/images/backgrounds/bkg_login.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
